@model Cl.AuthorityManagement.Model.Mvc.RoleEdit

@{
    Layout = null;
    string action = ViewBag.Action ?? "Edit";
    string operateName = ViewBag.Operate ?? "修改";
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modelTitle">@ViewBag.Operate 角色</h4>
</div>

@using (Ajax.BeginForm((string)ViewBag.Action, "Role", new AjaxOptions() { HttpMethod = "post", OnFailure = "saveFailure", OnSuccess = "saveSuccess" }, new { @id = "modelForm" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body form-horizontal" id="modify">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id, new { @data_bind = "value:Id" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @data_bind = "value:Name", @placeholder = @Html.DisplayNameFor(model => model.Name) } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sort, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sort, new { htmlAttributes = new { @class = "form-control", @data_bind = "value:Sort", @placeholder = @Html.DisplayNameFor(model => model.Sort) } })
                @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="close_edit" class="btn btn-primary" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-success">保存</button>
        <input type="hidden" id="page" name="page" />
    </div>
}

<script type="text/javascript">
    $.validator.unobtrusive.parse('form');
</script>
